---
import { Image } from 'astro:assets'

import LogoInvertedImage from '@/assets/images/logo-inverted.png'
import LogoImage from '@/assets/images/logo.png'
import ThemeToggle from '@/components/ThemeToggle.vue'
---

<header class="py-5">
  <div class="container flex items-center justify-between gap-5 lg:gap-10">
    <a href="/">
      <Image class="dark:hidden object-contain w-[75px] lg:w-[100px] h-[80px]" src={LogoImage} alt="Logo" width="200" height="200" />
      <Image class="not-dark:hidden object-contain w-[75px] lg:w-[100px] h-[80px]" src={LogoInvertedImage} alt="Logo" width="200" height="200" />
    </a>
    <ThemeToggle client:load />
  </div>
  <hr class="opacity-40">
</header>
